body{
	font-family: verdana, arial, serif;
	font-size: 12pt;
	color: #000;
	background: #3f8c84 url("img/back_sections.png") repeat-x;
	margin: 0;
	padding: 0;
}
table{
	border-collapse:collapse;
	border:none;
}
table tr{
	border:none;
}
table tr td{
	border:none;
}
/*for 980 +*/
@media screen and (min-width:980px) {
	#wrapper{
		width: 980px;
		margin: 30 auto;
		height:auto;
		padding: 5px;
	}
	#main_content{
		position: absolute;
		width: 980px;
	}
}
/*for 980 */
@media screen and (max-width:980px) and (min-width:480px){
	#wrapper{
		width: 94%;
		margin: 0 auto;
		height:auto;
		padding: 5px;
	}
	#main_content{
		position: absolute;
		width: 94%;
	}
}
/*for 480 */
@media screen and (max-width:480px)and (min-width:240px){
	#wrapper{
		width: auto;
		margin: 0 auto;
		height:auto;
		padding: 5px;
	}
	#main_content{
		position: absolute;
		width: auto;
	}
}

#main_menu{
	padding: 10px 0;
}
#main_menu a{
	text-decoration: none;
	background: #75c0a7;
	display: inline;
	height:20px;
	width: 200px;
	margin: 0 2px;
	padding: 10px 20px;
	color: #fff;
}
#main_menu a:hover{
	text-decoration: none;
	background: #ffd070;
	display: inline;
	height:20px;
	width: 200px;
	margin: 0 2px;
	padding: 10px 20px;
	color: #fff;
}

#footer{
	height: 50px;
	float: left;
	color: #ccc;
}
/* MESSAGES STYLES */
div.message, div.info_message, div.error_message{
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
	background: #efefef;
}
div.message, div.info_message{
	border: 1px solid #555;
	color: #444;
}
div.error_message{
	border: 1px solid #700;
	color: #700;
}
/* HOME STYLES */ 
.logo_medium img{
	width:27%;
	float: left;
	position: absolute;
}
.logo_home{
	width:402px;
	height: 180px;
	background: url("img/logo.png");
	position:absolute;
	top:10px;
	left:500px;
}
.logo_login{
	width:402px;
	height: 180px;
	background: url("img/logo.png") no-repeat;
	margin:auto;
	margin-top: 50px;
}
.image_home{
	background: url("img/image_home.png");
	width:385px;
	height: 509px;
	position:absolute;
	top:10px;
	left:0px;
}
.login_section{
	position:absolute;
	top:260px;
	left:500px;	
}
.login_button_facebook{
	margin: 5px 0px;
	background: #7ac5bd url("img/login_face.png");
	width:384px;
	height: 30px;	
	text-align: center;
	padding: 10px 0px;
}
.login_button_apps{
	margin: 5px 0px;
	background: #7ac5bd url("img/login_apps.png");
	width:384px;
	height: 30px;	
	text-align: center;
	padding: 10px 0px;
}
.login_button_facebook a, .login_button_apps a{
	color: #fff;
	text-decoration: none;
	font-size: 21px;
}
.download_links{
	position:absolute;
	top:460px;
	left:500px;	
	width: 400px;
}
.download_links img{
	display: inline;
	margin : 0 5px;
}
.app_description_get{
	position:absolute;
	width:870px;
	height: 290px;
	top:600px;
	left:20px;
}
.app_description_share{
	position:absolute;
	width:870px;
	height: 290px;
	top:1050px;
	left:20px;
	padding-bottom: 100px;
}
/* LOGIN STYLES*/
.form_login{
	margin: auto;
	width: 800px;
	top:120px;
}
.form_login table{
	margin:50px auto;
	width:50%;
}
.form_login table tr td{
	margin-top: 10px;
}
.form_login table tr .label{
	color: #fff;
	padding: 0 15px;
	background: #367771;
}
.form_login table tr td input[type=text], .form_login table tr td input[type=password]{
	width: 100%;
	height: 40px;
	background: #7ac5be !important;
	padding-left: 20px;
	border:none; 
}
.form_login table tr td input:hover, .form_login table tr td input:focus, .form_login table tr td input:autofill {
	width: 100;
	height: 40px;
	background: #7ac5be !important;
	padding-left: 20px;
	border:none;
}
.form_login_submit_button {
	width: 100%;
	height: 40px;
	background: #367771 !important;
	border:none; 
	color:#fff;
}
/* CONTENTS STYLES*/
#left_column{
	width:30%;
	float: left;
}
.user_menu{
	border-top: 8px solid #fff;
	width:980px;
	margin-left:-5px;
	height:30px;
}
.user_menu a{
	color: #fff;
	margin: 0 50px;
	text-decoration: none;
	height: 30px;
}
.user_menu a:hover{
	color: #fff;
	margin: 0 50px;
	text-decoration: none;
	background: #ffcc66;
}
.profile_detail{
	float:left;
	margin-top:140px;
	background: #7AC5BD;
	margin-right: 15px;
	padding: 2%;
}
.profile_detail_user{
	float: left; 
	border-bottom: 1px solid #96E3DA;
	width: 100%; 
	height:90px;
}
.profile_detail_user p{
	text-decoration: none;
	color:#377570;
	margin:0 0 20px 0;
	font-size: 17px;
}
.profile_detail_user a{
	text-decoration: none;
	color:#fff;
	font-size: 12px;
}
.profile_image{
	width: 80px;
	height: 80px;
}
.profile_sff{
	float: left; 
	border-bottom: 1px solid #96E3DA;
	width:100%;
	margin:5px 0px;
	padding-bottom: 5px;

}
.profile_box_sff{
	background: #357770;
	border: 3px solid #7AC5BD;
	/*padding: 5%;*/
	font-size: 12px;
	width:30%;
	float:left;
	height: 60px;
	text-align: center;
}
.profile_box_sff:hover{
	background: #7AC5BD;
	border: 3px solid #7AC5BD;
	width:30%;
	color: #357770;
	float:left;
	height: 50px;
	text-align: center;
}
.profile_box_sff:hover a{
	color: #357770;
	font-size: 11px;
}
.profile_box_sff a{
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
}
.profile_box_sff_number{
	font-size: 20px;
	margin: 0;
	margin-top: 10px
}
.smal_profile_image{
	width: 50px;
	height: 50px;
}
.my_profile_apps_menu{
	width: 98%;
	height: auto;
	margin:auto;
	float: left;
}
.my_profile_apps_menu p{
	text-decoration: none;
	color:#377570;
	font-size: 16px;
	margin:0px;
}
.my_profile_apps_menu a{
	text-decoration: none;
	color:#377570;
	font-size: 12px;
}
.my_profile_apps_menu a:hover{
	text-decoration: none;
	color:#fff;
	font-size: 12px;
}

.my_profile_apps_menu li{
	margin: 0 2px;
	padding: 10px 20px;
	color: #fff;
}
.my_profile_apps_menu li:hover{
	margin: 0 2px;
	padding: 10px 20px;
	color: #fff;
}
.my_profile_apps_menu li a {
	text-decoration: none;
	color: #fff;
}
#apps_in_profile_menu{
	width: 100%;
	height:250px; 
	padding-top: 20px;
	color:#fff;
	overflow-y: scroll;
}
.profile_apps{
	width: 680px;
	float: right;
}
.app_box{
	width: 90%;
	padding: 5%;
	float:left;
	height: 45px;
	margin: auto;
	margin-top: 2px;
	background: #DAE9E8;
}
.app_box img{
	float:left;
}
.app_box .app_title{
	font-size: 14px;
	height: 30px;
	float:left;
	color: #377570 ;
	padding-left: 10px;
	padding-top: 5px;
	width: 70%;
}
.app_box_description_actions{
	margin-top: 10px;
}
.app_box .app_box_description{
	/*width: 550px;*/
	height: auto;
	margin: 20px;
	background: #dae9e8;
}
.app_box .app_box_description table tr td{
	vertical-align: top;
	padding: 10px;
}
.app_box .app_box_description img{
	display: inline;
}
.app_box .app_box_description h2{
	/*width: 400px;*/
	height: 30px;
	margin: 10px;
	float: right;
}
.app_box .app_box_description p{
	margin: 10px;
	color:#000;	
	display: inline;
}
.app_prev_box{
	width: 260px;
	height:100px;
	margin: 10px;
	/*border: 1px solid #fff;*/
	background:rgba(100%,100%,100%, 0.5);
	display: inline;
	float:left;
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.app_prev_box img{
	width: 80px;
	height: 80px;
	margin: 10px;
	background: #fff;	
	float:left;
}
.app_prev_box .icon_green{
	width:20px;
	height:20px;
	background: transparent;
	margin: 0 10px;
}
.app_prev_box_app_details{
	width:150px;
	background:rgba(100%,100%,100%,0.3);
	height:80px;
	float:right;	
	margin-top: 10px;
	margin-right: 10px;
}
#profile_data{
	width:65%;
	float: left;
}
.sub_menu {
	height: 20px;
	margin-top: 20px;
	margin-left: 100px;
}
.sub_menu ul li{	
	background: #ffd070;
	display: inline;
	height:20px;
	width: 200px;
	margin: 0 2px;
	padding: 10px 20px;
	color: #fff;
}
.sub_menu ul li:hover{	
	background: #75c0a7;
	display: inline;
	height:20px;
	width: 200px;
	margin: 0 2px;
	padding: 10px 20px;
	color: #fff;
}
.sub_menu ul li a{	
	text-decoration: none;
	color: #fff;
}

/* SECTION MY APPS */
.my_apps{
	width: 900px;
	margin:auto;
}
.my_apps img{
	width: 200px;
	height:200px;
	margin: 10px;
	background: #fff;
}
.edit_profile_form {
	background: transparent;
}

.edit_profile_form table{
	background: transparent;
}
/* SECTION MY FOLLOWERS*/
.follower_box{
	width: 300px;
	height: 120px;
	margin: 10px;
	/*border: 1px solid #fff;*/
	background:rgba(100%,100%,100%, 0.5);
	display: inline;
	float:left;
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.friend_profile_image{
	width: 50px;
	height: 50px;
}
/* SECTION newsfeed*/
.notification_box{
	width: 50%;
	height: 50px;
	margin: 5px 10px;
	padding: 10px;
	background:#7ac5bd;
	float:left;
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
}
/* SECTION MY TIME LINE*/
.time_line_profile{	
	width: 100%;
	background:#57A29A;
	float: left;
	padding-bottom: 5px;
}
.notification_box_tl{
	width: 88%;
	height: 60px;
	margin: 5px;
	margin-bottom: 0px;
	padding: 10px 5%;
	background:#DAE9E8;
	float:left;
	color: #35786F;
}
.notification_box_tl img{
	float:left;
}
.notification_box_tl_text{
	width:100%;
	margin-top: 20px;
	margin-left: 10px;
}
.notification_box_tl_text a{
	color: #35786F;
	text-decoration: none;
	float: left;
	margin-left: 10px;
}
.notification_box_tl_text p{
	font-size: 14px;
	float: left;
	margin: 0;
	margin-left: 10px;
}

/* NOTIFICACION BOX DETAIL TIME LINE*/
.notification_box_detail_tl{
	width: 73%;
	height: 65px;
	margin-right: 8px;
	margin-top: 1px;
	padding: 10px 5%;
	background:#7AC5BD;
	float:right;
	text-align:left;
	color: #35786F;
	/*display: none;*/
	display: block;
}
.notification_box_tl_detail_text{
	width:55%;
	margin-left: 25px;
	float: left;
}
.notification_box_tl_detail_text a{
	color: #35786F;
	text-decoration: none;
	float: left;
}
.notification_box_tl_detail_text p{
	font-size: 14px;
	float: left;
	margin: 0;
}
.notification_box_detail_tl img{
	float:left;
}

.notification_box_tl_detail_price{
	margin:0;
	background: #357770;
	width: 11%;
	height: 60px;
	float: right;
	display: inline;
	padding: 5px 12px;
	text-align: center;
}
.notification_box_tl_detail_price p{
	color:#fff;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}
.notification_box_tl_detail_price img{
	width: 21px;
	height:32px;
	float: none;
	margin-top:5px;
}

/* NOTIFICACION BOX USER TIME LINE*/
.notification_box_tl_user_text{
	float: right;
	width:85%;
}
.notification_box_tl_user_text a{
	color: #35786F;
	text-decoration: none;
	float: left;
}
.notification_box_tl_user_text p{
	font-size: 14px;
	float: left;
	margin: 0;
}
.time_indicator{
	font-size: 10px !important;
	float: right !important;
	margin: 0;
}
.app_description{
	width:420px;
    height:50px;
    overflow:hidden;
}
/*  */
#comment_input{
	width: 390px;
	height: 150px;
	margin-top: 10px;
}
.comment{
	width: 80%;
	background: #fff;
	padding: 5px 10px;
	border-bottom: 1px solid #75c0a7;
	height: auto;
	color:#75c0a7;
	font-size: 11px;
}
